.card__tab:hover {
    background-color: rgba(128, 128, 128, 0.575);
}

.card__tab::after {
    width: 5%;
    height: auto;
    content: ''
}

.card__tab {
    padding-top: 12px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    position: relative;
    height: 30px;
}

.plus {
    flex: 1;
    display: block;
    text-align: center;
    padding-top: 3px;
    color: gray;
    font-size: 25px;
}