.profesor__ime {
    display: block;
    float: left;
    margin-left: 20px;
}

.display__node {
    float: left;
    margin-top: 100px;
    margin-left: -350px;
}

.button__add {
    float: left;
    overflow: auto;
    width: 100px;
    margin-top: 300px;
    margin-left: -450px;
}

.timeline__add {
    float: left;
    overflow: auto;
    margin-top: 400px;
    margin-left: -450px;
}