.display__input {
    background-color: white;
    border-style: solid;
    border-color: #b9b8b8;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
}

.display__title {
    position: relative;
    height: 100%;
    width: auto;
    font-weight: 600;
    font-size: 40px;
    border: none;
    border-bottom-style: solid;
}

.display__text {
    flex: 1;
    position: relative;
    height: 100%;
    width: auto;
    font-size: 20px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.display__element:first-child {
    margin-left: 20px;
}

.display__element {
    flex: 2;
    display: block;
    min-width: 0;
    margin-left: 5px;
}