.profesor {
    margin-top: 100px;
    color: black;
    text-align: center;
    width: 100%;
}

.login__form {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

.login__input {
    margin-bottom: 10px;
}

.login__submit {
    float: right;
}