.card__tab:hover {
    background-color: rgba(128, 128, 128, 0.575);
}

.card__tab::after {
    width: 5%;
    height: auto;
    content: ''
}

.card__tab {
    padding-top: 12px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    position: relative;
    height: 30px;
}

.display__input {
    flex: 1;
    display: block;
    min-width: 0;
    background-color: white;
    border-style: solid;
    border-color: #b9b8b8;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 20px;
}

.display__title {
    margin-left: 20px;
}

.plus {
    flex: 1;
    display: block;
    text-align: center;
    padding-top: 3px;
    color: gray;
    font-size: 25px;
}