* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

#TopBar {
    height: 5em;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 0px 92px 9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 92px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px 92px 9px rgba(0, 0, 0, 0.5);
}

#TopNav {
    float: right;
    list-style-type: none;
    margin: 0;
    margin-right: 1em;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
    color: #333333;
    line-height: 5em;
    text-align: center;
    vertical-align: middle;
    padding: 16px;
    padding-top: 0;
    text-decoration: none;
}

#NavBar {
    width: 15em;
    float: left;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 7em 50px 9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 7em 50px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 7em 50px 9px rgba(0, 0, 0, 0.5);
}

#photoHolder {
    height: 6.5em;
    width: 6.5em;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

#ucenikInfo {
    font-size: 1.25em;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1.5em;
}

.container {
    width: 87.55%;
    float: right;
    height: 100%;
    background-color: #f2f2f2;
    margin-top: 5em;
    padding-bottom: 5.25em;
}

#notificationPanel {
    width: 70%;
    height: 20em;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 5em;
    -webkit-box-shadow: 1px 10px 49px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 10px 49px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 10px 49px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#statistics {
    float: left;
    width: 32.5%;
    height: 20em;
    background-color: #ffffff;
    margin-left: 15%;
    margin-top: 5em;
    -webkit-box-shadow: 1px 10px 49px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 10px 49px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 10px 49px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

#accountBalance {
    width: 32.5%;
    height: 20em;
    background-color: #ffffff;
    margin-left: 5%;
    margin-top: 5em;
    -webkit-box-shadow: 1px 10px 49px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 10px 49px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 10px 49px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

span {
    font-weight: 600;
}

#bHead {
    font-size: 2em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

#balance {
    font-size: 4em;
    text-align: center;
    margin-top: 1em;
}

#statistika {
    height: 45em;
    width: 55em;
    background-color: #fff;
    margin-left: 10em;
    margin-top: 5em;
    -webkit-box-shadow: 1px 10px 69px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 10px 69px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 10px 69px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

#tab {
    width: 90%;
    margin: 0 auto;
}

#grapf {
    font-size: 4em;
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

#changeinfo {
    float: right;
    width: 25em;
    height: 45em;
    background-color: #fff;
    margin-right: 7.5em;
    margin-top: 5em;
    -webkit-box-shadow: 1px 10px 69px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 10px 69px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 10px 69px 1px rgba(0, 0, 0, 0.5);
}

#photog {
    height: 7.5em;
    width: 7.5em;
    margin: 0 auto;
    border-radius: 100%;
    background-color: lightgray;
    margin-top: 3em;
    margin-bottom: 2em;
}

.in {
    font-size: 1.25em;
    padding-top: 1.5em;
    margin-left: 2em;
}

#mail {
    display: block;
    background-color: dodgerblue;
    color: white;
    margin: 0 auto;
    margin-top: 2.75em;
    letter-spacing: 0.1em;
}

#pass {
    display: block;
    background-color: red;
    color: white;
    margin: 0 auto;
    margin-top: 2.75em;
    letter-spacing: 0.1em;
}

#bgphoto {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('https://images.pexels.com/photos/280490/pexels-photo-280490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center center;
    width: 120em;
    height: 60em;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: 1;
}

#loginform {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 25em;
    height: 30em;
    margin: 0 auto;
    transform: translateY(12.5em);
    z-index: 99;
    border-radius: 2%;
}

#logintxt {
    font-size: 2.5em;
color: #303F9F;
margin-top: 0.75em;
padding-left: 1em;
border-left: 4px solid #303F9F;
margin-bottom: 1.5em;
}

#name {
    width: 47.5%;
    margin: 0 auto;
    margin-top: 2em;
}

#submit {
    width: 30%;
    margin: 0 auto;
    margin-top: 2em;
}

a {
    text-decoration: underline;
    color: #303F9F;
}

#aaa {
    float: left;
    margin-top: 8em;
    margin-left: 2em;
}