   
   #nameTag{ 
   padding: 0.5em;
   padding-left: 1.25em;
   padding-right: 1.25em;
   border-radius: 20px;
   background-color: #1A237E;
   display: inline;
   transition: color 2s;
   background: linear-gradient(132deg, #5C6BC0, #1A237E);
  background-size: 400% 400%;
  animation: BackgroundGradient 15s ease infinite;
  position: absolute;
  right: 1em;
  display: inline;
   }
   #nameTag:hover{
    background-color: #283593;
    cursor: pointer;
  }