.wallet {
    flex-grow: 0;
    width: 80%;
    height: 90%;
    background: #444;
    border-radius: 15px;
    z-index: 900;
    transform: translateY(-10px);
    margin-left: 2vw;
    margin-top: 2vw;
    color: white;
}

#logo {
    position: absolute;
    display: block;
    z-index: 200;
    width: 60px;
    bottom: 40px;
    left: 40px;
}

/* ----- Departments ----- */

.department {
    position: absolute;
    display: block;
    width: 90%;
    background: #444;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 1px dashed rgba(100, 100, 100, 1);
}

#one {
    bottom: 0;
    height: 170px;
    z-index: 100;
}

#two {
    bottom: 50px;
    height: 170px;
    z-index: 50;
}

#three {
    bottom: 100px;
    height: 170px;
    z-index: 0;
}

/* ----- Cards ----- */

.card {
    position: absolute;
    display: block;
    width: 80%;
    height: 210px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 90;
    bottom: 0;
    border-radius: 10px;
    transition: transform 1s;
    color: white;
}

.card:hover {
    transform: translateY(-150px);
}

#card1 {
    background: #2e3ca1;
    z-index: 100;
}

#card2 {
    background: rgb(209, 55, 55);
    z-index: 40;
}

#card3 {
    background: rgb(95, 108, 194);
    z-index: 0;
}

.walletvalue {
    float: right;
    color: white;
}