.tag_name {
    color: white;
    font-size: 16px;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.tag {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(168, 162, 168, 0.377);
    width: 12vw;
    text-align: left;
}

.tag:hover {
    background-color: #3b3b3b;
}